@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

@*<style>
    .contact-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-container::before {
        content: "";
        background-image: url('../../Content/Image/call-3613071.svg');
        background-size: cover;
    }
</style>*@

<div class="contact-container">
    <address>
        12175 Visionary Way<br />
        Fishers, IN 46038<br />
        <abbr title="Phone">P:</abbr>
        630.470.0799
    </address>

    <address>
        <strong>Health Warrior Support:</strong>   <a href="mailto:Support@example.com">support@healthwarrior.com</a><br />
    </address>
</div>