.hero-container {
    height: 800px;
    width: 100%;
    background-image: url('../Content/Image/colton-duke-QRU0i5AqEJA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    margin-top: 30px;
}

.home-page-container {
    width: 100%;
    padding-top: 30px;
}

.hero-title-container {
    overflow: hidden;
    text-align:center;
    transform: translateY(30rem);
}

.hero-title-container > h2 {
    font-size: 35px;
    color: red;
}

.hero-title {
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
}
