*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-container {
    height: 800px;
    width: 100%;
    background-image: url('../Content/Image/colton-duke-QRU0i5AqEJA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    margin-top: 30px;
}

.home-page-container {
    width: 100%;
    padding-top: 30px;
}

.hero-title-container {
    overflow: hidden;
    text-align:center;
    transform: translateY(30rem);
}

.hero-title-container > h2 {
    font-size: 35px;
    color: red;
    font-family: 'Rubik', sans-serif;
}

.hero-title {
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
}

.vertical-align {
    display:flex;
    align-items: center;
}

.button-link-container > li {
    display: inline;
    text-decoration: none;
}

.footer-info-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(34,34,34);
    padding: 1.5rem;
    color: #9D9D9D;
}
