body {

}

h2 {
    text-align: center;
}

.margin-top-view {
    margin-top: 50px;
}

.dashboard-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.user-info {
    padding: 20px 0;
    text-align: center;
    margin: 10px;
}

.user-info > img {
    border: 1px solid black;
}

.user-stats {
    padding: 20px 0;
}

table {
    border-collapse: collapse;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0, 0.3);
    border-radius: 5px;
    margin: 10px;
    font-size: 2rem;
    table-layout: fixed;
    width: 600px;
}

thead tr {
    background-color: darkred;
    color: white;
    text-align: left;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: aquamarine;
    color: darkred;
}

td, th {
    padding: 12px 20px;
    width: 50%;
}

.plan-link-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.plan-link-container > button {
    margin: 5px 20px;
    padding: 5px;
}

.plan-link-container > button * {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .dashboard-container {
        flex-flow:column;
        align-items: center;
    }
}

@media screen and (max-width: 680px){
    .plan-link-container {
        flex-flow: column;
    }

    table {
        font-size: 1.5rem;
        width: 90%;
        margin: 10px auto;
    }
}